extends layout

block content
	h1 Edit Chess Game #{id}
	br
	a(href='/admin/edit') List Edit Games
	br
	form#formEditGame(name="editgame",method="post",action="/admin/edit/#{id}")
		textarea(id="gamedata", name="gamedata", rows=20, cols=100).
			#{game}
		br
		button#btnSubmit(type="submit") Update Game

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
	script(src="/socket.io/socket.io.js")

	script.
		jQuery(function($){
			var socket = io.connect();
			var $formGame = $('#formEditGame');
			var $gameBox = $('#gamedata');

			$formGame.submit(function(e){
				socket.emit('sendedit', $gameBox.val());
			});
			
		});